@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    width: 100%;
}

header {
    background: #1a4b79;
    color: #ffffff;
    display: flex;
    padding: 0 16px;
    width: calc(100% - 32px);
}

header .content {
    justify-content: space-between;
    max-width: 1280px;
    padding-right: 8px;
    width: 100%;
}

header .content__img img {
    margin: 0;
    padding: 10px 0;
    width: 250px;
}

header .content__img h1 {
    margin: 16px 0;
    display: none;
}

header .content .content__menu a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 16px;
}

header .content .content__menu .category {
    margin: 0 16px;
}

header .content .content__menu .category p {
    margin: 0;
}

header .content .content__menu .category i {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin: 0 8px;
}

header .content .content__menu img {
    margin: 0 16px;
}

footer {
    background: #1a4b79;
    color: #ffffff;
    display: flex;
    left: 0;
    justify-content: center;
    margin: 0;
    padding: 16px;
    right: 0;
}

footer .footer__content {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
}

footer .footer__content .content__left {
    width: 70%;
}

footer .footer__content .content__left img {
    width: 365px;
}

footer .footer__content .content__about-us {
    font-size: 16px;
    margin: 0;
}

footer .footer__content .content__right {
    float: right;
    margin-top: 100px;
}

footer .footer__content .content__social-media img {
    margin-left: 32px;
}

footer .footer__content .content__right .content__social-media p {
    margin: 0;
}

footer
    .footer__content
    .content__right
    .content__social-media
    .social-media__img {
    float: right;
    margin: 10px 0;
}
footer .footer__content .content__right .about__development {
    margin: 0;
    padding-top: 100px;
    text-align: right;
}

.row {
    display: flex;
    flex-direction: row;
}
.align-center {
    align-items: center;
    justify-content: center;
}

.mobile {
    display: none;
}

@media (max-width: 600px) {
    header {
        max-width: 100%;
        padding: 0;
        width: 100%;
    }
    header .content {
        padding: 0;
        width: fit-content;
    }
    header .content .content__menu {
        display: none;
    }
    header .content .content__img {
        display: flex;
    }
    header .content .content__img img {
        margin: 0;
        width: 80%;
    }

    footer .footer__content {
        display: flex;
        flex-direction: column;
    }

    footer .footer__content .content__about-us {
        width: 100%;
    }

    footer .footer__content .content__social-media {
        padding: 25px 0;
    }

    footer .footer__content .content__left {
        width: 100%;
    }
    footer .footer__content .content__right {
        margin-top: 50px;
    }

    footer .footer__content .content__left img {
        width: 80%;
    }
    footer
        .footer__content
        .content__right
        .content__social-media
        .social-media__img {
        float: unset;
    }

    footer .footer__content .content__social-media img {
        margin-right: 32px;
        margin-left: 0;
    }
    footer .footer__content .content__right .about__development {
        padding-top: 50px;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}
